RewriteEngine On
RewriteBase BASE/

###
#### main blog
###

RewriteRule ^templates/(.*)				BASE/wp-inst/wp-content/blogs/main/templates/$1 [L]
RewriteRule ^files/(.*)		  			BASE/wp-inst/wp-content/blogs/files/$1 [L]
RewriteRule ^wp-content/themes/(.*)			BASE/wp-inst/wp-content/themes/$1 [L]

# rewrite these
RewriteRule ^category/(.*)/page/(.*)/		   	BASE/wp-inst/index.php?wpblog=main&category_name=$1&paged=$2 [L]
RewriteRule ^category/(.*)/(feed|rdf|rss|rss2|atom)/?$  BASE/wp-inst/wp-feed.php?wpblog=main&category_name=$1&feed=$2 [L]
RewriteRule ^category/?(.*)				BASE/wp-inst/index.php?wpblog=main&category_name=$1 [L]
RewriteRule ^author/(.*)/(feed|rdf|rss|rss2|atom)/?$	BASE/wp-inst/wp-feed.php?wpblog=main&author_name=$1&feed=$2 [L]
RewriteRule ^author/?(.*)				BASE/wp-inst/index.php?wpblog=main&author_name=$1 [L]
RewriteRule ^([0-9]{4})/?([0-9]{1,2})?/?([0-9]{1,2})?/?([_0-9a-zA-Z-]+)?/?([0-9]+)?/?$	  	BASE/wp-inst/index.php?wpblog=main&year=$1&monthnum=$2&day=$3&name=$4&page=$5 [L]
RewriteRule ^([0-9]{4})/?([0-9]{1,2})/([0-9]{1,2})/([_0-9a-zA-Z-]+)/(feed|rdf|rss|rss2|atom)/?$ BASE/wp-inst/wp-feed.php?wpblog=main&year=$1&monthnum=$2&day=$3&name=$4&feed=$5 [L]
RewriteRule ^([0-9]{4})/?([0-9]{1,2})/([0-9]{1,2})/([_0-9a-zA-Z-]+)/trackback/?$		BASE/wp-inst/wp-trackback.php?wpblog=main&year=$1&monthnum=$2&day=$3&name=$4 [L]
RewriteRule ^page/?([0-9]+)?/?$ 			BASE/wp-inst/index.php?paged=$1 [L]
RewriteRule ^feed/?([_0-9a-zA-Z-]+)?/?$		 	BASE/wp-inst/wp-feed.php?wpblog=main&feed=$1 [L]
RewriteRule ^comments/feed/?([_0-9a-zA-Z-]+)?/?$	BASE/wp-inst/wp-feed.php?wpblog=main&feed=$1&withcomments=1 [L]
RewriteRule ^archives/p/([0-9]+)/?(.*)?		 	BASE/wp-inst/index.php?wpblog=main&redirect=yes&p=$1 [L]
RewriteRule ^archives/cat/([0-9]+)/?(.*)?		BASE/wp-inst/index.php?wpblog=main&redirect=yes&cat=$1 [L]
RewriteRule ^archives/m/([0-9]+)\#?(.*)?		BASE/wp-inst/index.php?wpblog=main&redirect=yes&m=$1 [L]
RewriteRule ^b2rss2.php(.*)?				BASE/wp-inst/wp-feed.php?wpblog=main&feed=rss2 [L]
RewriteRule ^b2rdf.php(.*)?				BASE/wp-inst/wp-feed.php?wpblog=main&feed=rdf [L]

# We want to pass these files straight through
RewriteRule ^wp-comments-post.php(.*)  			BASE/wp-inst/wp-comments-post.php	   [L]
RewriteRule ^go.php(.*) 				BASE/wp-inst/go.php$1 [L]
RewriteRule ^pages/(.*) 				BASE/wp-inst/pages/$1 [L]
RewriteRule ^wp-admin/(.*) 				BASE/wp-inst/wp-admin/$1 [L]
RewriteRule ^wp-atom.php(.*) 				BASE/wp-inst/wp-atom.php [L]
RewriteRule ^wp-comments-popup.php(.*) 			BASE/wp-inst/wp-comments-popup.php [L]
RewriteRule ^wp-comments-post.php(.*) 			BASE/wp-inst/wp-comments-post.php [L]
RewriteRule ^wp-commentsrss2.php(.*) 			BASE/wp-inst/wp-commentsrss2.php [L]
RewriteRule ^wp-counter.php(.+)? 			BASE/wp-inst/wp-counter.php [L]
RewriteRule ^wp-feed.php(.*) 				BASE/wp-inst/wp-feed.php [L]
RewriteRule ^wp-images/(.*) 				BASE/wp-inst/wp-images/$1 [L]
RewriteRule ^wp-includes/images/(.*) 			BASE/wp-inst/wp-includes/images/$1 [L]
RewriteRule ^wp-includes/js/(.*) 			BASE/wp-inst/wp-includes/js/$1 [L]
RewriteRule ^wp-links-opml.php(.*) 			BASE/wp-inst/wp-links-opml.php [L]
RewriteRule ^wp-login.php(.*) 				BASE/wp-inst/wp-login.php [L]
RewriteRule ^wp-mail.php(.*)	 			BASE/wp-inst/wp-mail.php [L]
RewriteRule ^wp-pass.php(.*) 				BASE/wp-inst/wp-pass.php [L]
RewriteRule ^wp-rdf.php(.*) 				BASE/wp-inst/wp-rdf.php [L]
RewriteRule ^wp-register.php(.*) 			BASE/wp-inst/wp-register.php [L]
RewriteRule ^wp-rss.php(.*)	 			BASE/wp-inst/wp-rss.php [L]
RewriteRule ^wp-rss2.php(.*) 				BASE/wp-inst/wp-rss2.php [L]
RewriteRule ^wp-sidebar.php(.*) 			BASE/wp-inst/wp-sidebar.php [L]
RewriteRule ^wp-trackback.php(.*) 			BASE/wp-inst/wp-trackback.php [L]
RewriteRule ^xmlrpc.php(.*) 				BASE/wp-inst/xmlrpc.php [L]   
RewriteRule ^maintenance.php 				BASE/wp-inst/maintenance.php [L]   
RewriteRule ^favicon.ico				/wp-inst/favicon.ico [L]
RewriteRule ^robots.txt 				/wp-inst/robots.txt [L]

RewriteRule ^wp-newblog.php				BASE/wp-inst/wp-newblog.php [L]
RewriteRule ^signup/					BASE/wp-inst/wp-newblog.php [L]
RewriteRule ^invite/(.*)/?				BASE/wp-inst/wp-newblog.php?u=$1 [L]
RewriteRule ^index.php					BASE/wp-inst/index.php [L]

RewriteRule ^$ BASE/wp-inst/index.php [L]

###
#### blogs
###
RewriteRule ^([_0-9a-zA-Z-]+)/templates/(.*)			BASE/wp-inst/wp-content/blogs/$1/templates/$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/files/(.*)			BASE/wp-inst/wp-content/blogs/$1/files/$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-content/blogs/(.*)/files/(.*)	BASE/wp-inst/wp-content/blogs/$1/files/$3 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-content/themes/(.*)		BASE/wp-inst/wp-content/themes/$2 [L]

# rewrite these
RewriteRule ^([_0-9a-zA-Z-]+)/category/(.*)/page/(.*)/			BASE/wp-inst/index.php?wpblog=$1&category_name=$2&paged=$3 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/category/(.*)/(feed|rdf|rss|rss2|atom)/?$ BASE/wp-inst/wp-feed.php?wpblog=$1&category_name=$2&feed=$3 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/category/?(.*)				BASE/wp-inst/index.php?wpblog=$1&category_name=$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/author/(.*)/(feed|rdf|rss|rss2|atom)/?$	BASE/wp-inst/wp-feed.php?wpblog=$1&author_name=$2&feed=$3 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/author/?(.*)				BASE/wp-inst/index.php?wpblog=$1&author_name=$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/([0-9]{4})/?([0-9]{1,2})?/?([0-9]{1,2})?/?([_0-9a-zA-Z-]+)?/?([0-9]+)?/?$	  		BASE/wp-inst/index.php?wpblog=$1&year=$2&monthnum=$3&day=$4&name=$5&page=$6 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/([0-9]{4})/?([0-9]{1,2})/([0-9]{1,2})/([_0-9a-zA-Z-]+)/(feed|rdf|rss|rss2|atom)/?$	BASE/wp-inst/wp-feed.php?wpblog=$1&year=$2&monthnum=$3&day=$4&name=$5&feed=$6 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/([0-9]{4})/?([0-9]{1,2})/([0-9]{1,2})/([_0-9a-zA-Z-]+)/trackback/?$			BASE/wp-inst/wp-trackback.php?wpblog=$1&year=$2&monthnum=$3&day=$4&name=$5 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/page/?([0-9]+)?/?$ 			BASE/wp-inst/index.php?paged=$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/feed/?([_0-9a-zA-Z-]+)?/?$		BASE/wp-inst/wp-feed.php?wpblog=$1&feed=$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/comments/feed/?([_0-9a-zA-Z-]+)?/?$	BASE/wp-inst/wp-feed.php?wpblog=$1&feed=$2&withcomments=1 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/archives/p/([0-9]+)/?(.*)?		BASE/wp-inst/index.php?wpblog=$1&redirect=yes&p=$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/archives/cat/([0-9]+)/?(.*)?		BASE/wp-inst/index.php?wpblog=$1&redirect=yes&cat=$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/archives/m/([0-9]+)\#?(.*)?		BASE/wp-inst/index.php?wpblog=$1&redirect=yes&m=$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/b2rss2.php(.*)?				BASE/wp-inst/wp-feed.php?wpblog=$1&feed=rss2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/b2rdf.php(.*)?				BASE/wp-inst/wp-feed.php?wpblog=$1&feed=rdf [L]

# We want to pass these files straight through
RewriteRule ^([_0-9a-zA-Z-]+)/wp-comments-post.php(.*)  	BASE/wp-inst/wp-comments-post.php	   [L]
RewriteRule ^([_0-9a-zA-Z-]+)/go.php(.*) 			BASE/wp-inst/go.php$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/pages/(.*)	 		BASE/wp-inst/pages/$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-admin/(.*) 			BASE/wp-inst/wp-admin/$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-atom.php(.*) 			BASE/wp-inst/wp-atom.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-comments-popup.php(.*) 	BASE/wp-inst/wp-comments-popup.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-comments-post.php(.*) 		BASE/wp-inst/wp-comments-post.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-commentsrss2.php(.*) 		BASE/wp-inst/wp-commentsrss2.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-counter.php(.+)? 		BASE/wp-inst/wp-counter.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-feed.php(.*) 			BASE/wp-inst/wp-feed.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-images/(.*) 			BASE/wp-inst/wp-images/$2 [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-links-opml.php(.*) 		BASE/wp-inst/wp-links-opml.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-login.php(.*) 			BASE/wp-inst/wp-login.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-mail.php(.*) 			BASE/wp-inst/wp-mail.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-pass.php(.*) 			BASE/wp-inst/wp-pass.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-rdf.php(.*) 			BASE/wp-inst/wp-rdf.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-register.php(.*) 		BASE/wp-inst/wp-register.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-rss.php(.*) 			BASE/wp-inst/wp-rss.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-rss2.php(.*) 			BASE/wp-inst/wp-rss2.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-sidebar.php(.*) 		BASE/wp-inst/wp-sidebar.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/wp-trackback.php(.*) 		BASE/wp-inst/wp-trackback.php [L]
RewriteRule ^([_0-9a-zA-Z-]+)/xmlrpc.php(.*) 			BASE/wp-inst/xmlrpc.php [L]   
RewriteRule ^([_0-9a-zA-Z-]+)/maintenance.php 			BASE/wp-inst/maintenance.php [L]   
RewriteRule ^([_0-9a-zA-Z-]+)/favicon.ico 			/wp-inst/favicon.ico [L]   

# pages
RewriteCond REALPATH/wp-inst/wp-content/blogs/%{1} -d
RewriteRule ^([_0-9a-zA-Z-]+)/(.*)/$				BASE/wp-inst/index.php?pagename=$2 [L]

RewriteRule ^(.*)/$						BASE/wp-inst/index.php?pagename=$1 [L]

# catch all rules
RewriteCond REALPATH/wp-inst/wp-content/blogs/%{1} -d
RewriteRule ^([_0-9a-zA-Z-]+)/					BASE/wp-inst/index.php [L]

RewriteRule ^([_0-9a-zA-Z-]+)/(.+)$ BASE/wp-inst/$2 [L]

RewriteCond %{REQUEST_FILENAME}  -d
RewriteRule ^(.+[^/])$						BASE/ [R,L]
RewriteCond REALPATH/wp-inst/wp-content/blogs/%{1} -d
RewriteRule ^(.*[^/])$						BASE/$1/ [R,L]

AddType text/css .css
