<?php
if( defined( 'ABSPATH' ) == false )
	die();

$base="BASE";

if( isset( $_REQUEST[ 'wpblog' ] ) ) $wpblog = addslashes( $_REQUEST[ 'wpblog' ] );

if( isset( $wpblog ) == false )
{
    if( $base != '/' )
    {
        $wpblog = str_replace( $base, "",  $_SERVER[ 'REQUEST_URI' ] );
    }
    else
    {
        $wpblog = substr( $_SERVER[ 'REQUEST_URI' ], 0, strrpos( $_SERVER[ 'REQUEST_URI' ], "/" ) );
    }
    if( strrpos( $wpblog, "/" ) > 0 )
    {
        $wpblog = substr( $wpblog, 0, strpos( substr( $wpblog, 1 ) , "/" )+1 );
    }
    $wpblog = str_replace( $base, "", $wpblog );
}

$hostname = $_SERVER[ 'HTTP_HOST' ];
$domain = $_SERVER[ 'HTTP_HOST' ];
if( substr_count( $domain, '.' ) > 1 ) {
    $vhostblog = substr( $domain, 0, strpos( $domain, '.' ) );
    $basedomain = str_replace( $vhostblog.".", "", $domain );
    $domain = str_replace( $vhostblog.".", "", $domain );
} else {
    $basedomain = $domain;
    $vhostblog = "main";
}
		
if( strpos( $wpblog, "?" ) ) {
    $wpblog = substr( $wpblog, 0, strpos( $wpblog, "?" ) );
}
if( defined( "VHOST" ) && constant( "VHOST" ) == 'yes' ) {
    if( $vhostblog != 'www' && $vhostblog != '' ) {
	$wpblog = $vhostblog;
    } else {
	$wpblog = "main";
    }
} elseif( $wpblog == '' ) {
    $wpblog = 'main';
} elseif( $wpblog != 'main' && ( is_file( ABSPATH . $wpblog ) == true || is_dir( ABSPATH . $wpblog ) == true ) ) {
    $wpblog = 'main';
}

$wpmuBaseTablePrefix = $table_prefix;
$server = DB_HOST;
$loginsql = DB_USER;
$passsql = DB_PASSWORD;

require_once( ABSPATH.'wp-settings.php' );

?>
