{the_date d='' before='<h2>' after='</h2>'}
<div class="post">
<h3 class="storytitle" id="post-{the_ID}"> <a href="{permalink_link}" rel="bookmark" title="Permanent Link: {the_title_rss}">{the_title}</a> </h3>
<div class="meta">Filed under: {the_category seperator=", "}</div>
<div class="storycontent">
        {the_content}
</div>

<div class="feedback">
        {link_pages before='<br />Pages: ' after='<br />' next_or_number='number'}
        {comments_popup_link zero='Comments (0)' one='Comments (1)' more='Comments (%)'}
</div>

<!--
{trackback_rdf}

-->
</div>
